{% extends 'layout.twig' %}

{% block body %}
    <h2>Tasks list</h2>
    {% if error is defined %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endif %}

    <form class="newTaskForm" action="/" method="post">
        <select class="form-control col-6" id="userControlSelect" name="userControlSelect">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>

        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="newTaskName">New task</label>
                <input type="text" class="form-control mb-2 mb-sm-0" id="newTaskName" name="newTaskName" placeholder="New task">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    {% if tasks is defined %}
    <div class="list-group">
        {% for task in tasks %}
            <a href="task/{{ task.id }}" class="list-group-item list-group-item-action">
                <span>{{ task.name }}</span>
                <span class="float-right">{{ task.user.username }}</span>
            </a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
