body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding-top: 5rem;
}
.starter-template {
  text-align: center;
}

a {
  color: #00b7ff;
}

.list-group-item > a {
  color: #333;
  position: relative;
}

.newTaskForm {
  margin-top:20px;
  margin-bottom: 20px;
}

#userControlSelect {
  margin-bottom: 20px;
}